.error-popover {
	--bs-popover-max-width: 200px;
	--bs-popover-border-color: red;
	--bs-popover-body-padding-x: 1rem;
	--bs-popover-body-padding-y: .5rem;
	--bs-popover-zindex: 1;
}

.info-popover {
	--bs-popover-max-width: 200px;
	--bs-popover-border-color: blue;
	--bs-popover-body-padding-x: 1rem;
	--bs-popover-body-padding-y: .5rem;
	--bs-popover-zindex: 1;
}